{% extends 'base.html' %}

{% block title %}My account | {% endblock %}

{% block content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'frontpage' %}">Home</a></li>
            <li class="is-active"><a href="{% url 'myaccount' %}" aria-current="page">My account</a></li>
        </ul>
    </nav>
    
    <div class="columns">
        <div class="column is-4">
            <div class="media mb-4">
                <div class="media-left">

                </div>

                <div class="media-content">
                    <p class="title is-3">{% firstof user.get_full_name user.username %}</p>
                    
                    <p class="subtitle is-6">{{ user.email }}</p>
                </div>

                
            </div>

            <a href="{% url 'edit_profile' %}" class="button is-info">Edit profile</a>
            <a href="{% url 'clockout' %}" class="button is-danger">Clockout</a>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column is-2">
            <div class="media mb-10">
                

                <div class="media-content">
                    <p class="title is-3">Entries</p>
                    {% for entry in entries %}
                        <pre>{% firstof entry.user.get_full_name user.username %}  {{ entry.hours }}hrs&{{ entry.minutes }}mins  {{ entry.date }}</pre>
                    {% endfor %}
                </div>

                <div class="column is-12 has-text-centered">
                    {% for time in range(hrs) %}
                        <p>{{ total_hours }}</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


    {% comment %} <div class="columns is-multiline">
        <div class="column is-4">
            <h2 class="subtitle">Ghante</h2>
        </div>
        <div class="column is-offset-6 is-2">
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of service</a></li>
            </ul>
        </div>
        <div class="column is-12 has-text-centered">
            <p>Copyright (c) 2022</p>
        </div>
    </div> {% endcomment %}

{% endblock %}